streamlit
fastapi
uvicorn
requests
python-multipart
sqlalchemy
pandas
python-dotenv
google-generativeai
langchain
langchain-google-genai
sentence-transformers
faiss-cpu
openpyxl
pydantic
python-jose
google-genai
groq